    <footer>
    <script type="text/javascript" src="/javascripts/panier.js"></script>
    <script type="text/javascript" src="/javascripts/produit.js"></script>
    <script type="text/javascript" src="/javascripts/checker.js"></script>
    <script type="text/javascript" src="/javascripts/feedback.js"></script>
    <script type="text/javascript" src="/javascripts/sign.js"></script>
    <script type="text/javascript" src="/javascripts/profil.js"></script>
    
      <br>
      <hr>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-lg-5">
          <p>
            <strong>LEGO WebStore</strong><br>
            Maison de la Recherche Blaise Pascal<br>
            50 rue Ferdinand Buisson<br>
            62228, Calais
          </p>
        </div>
        <div class="col-lg-5 ">
          <div class="float-right">
            <img src="/images/logo_lego.jpg" width="80px" class="float-right">
            <p class="">WebStore</p>
          </div>
        </div>
        <div class="col-1"></div>
      </div>
    </footer>