<head>
    <title><%= titre %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="icon" href="/images/logo_lego.jpg" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/fontawesome.all.min.css"/>
    <link rel="stylesheet" href="/stylesheets/styles.css"/>
    <!-- JavaScripts -->
    <script src="/javascripts/jquery.slim.min.js"></script>
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/javascripts/datelist.js"></script>
</head>
