<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="profileModalLabel">Modifier votre avatar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-columns">
          <form method="post" action="/imgupdate/wonderwoman.png" style="display : inline">
            <div class="card">
              <button type="submit" class="btn btn-default">
                <img class="card-img-top" src="/images/ICON/wonderwoman.png" alt="Card image">
              </button>
            </div>
          </form>
          <form method="post" action="/imgupdate/detective.png" style="display : inline">
            <div class="card">
              <button type="submit" class="btn btn-default">
                <img class="card-img-top" src="/images/ICON/detective.png" alt="Card image">
              </button>
            </div>
          </form>
          <form method="post" action="/imgupdate/detective2.png" style="display : inline">
            <div class="card">
              <button type="submit" class="btn btn-default">
                <img class="card-img-top" src="/images/ICON/detective2.png" alt="Card image">
              </button>
            </div>
          </form>
          <form method="post" action="/imgupdate/driver.png" style="display : inline">
            <div class="card">
              <button type="submit" class="btn btn-default">
                <img class="card-img-top" src="/images/ICON/driver.png" alt="Card image">
              </button>
            </div>
          </form>
          <form method="post" action="/imgupdate/nurse.png" style="display : inline">
            <div class="card">
              <button type="submit" class="btn btn-default">
                <img class="card-img-top" src="/images/ICON/nurse.png" alt="Card image">
              </button>
            </div>
          </form>
          <form method="post" action="/imgupdate/sailor.png" style="display : inline">
            <div class="card">
              <button type="submit" class="btn btn-default">
                <img class="card-img-top" src="/images/ICON/sailor.png" alt="Card image">
              </button>
            </div>
          </form>
          <form method="post" action="/imgupdate/surgeon.png" style="display : inline">
            <div class="card">
              <button type="submit" class="btn btn-default">
                <img class="card-img-top" src="/images/ICON/surgeon.png" alt="Card image">
              </button>
            </div>
          </form>
          <form method="post" action="/imgupdate/streamer.png" style="display : inline">
            <div class="card">
              <button type="submit" class="btn btn-default">
                <img class="card-img-top" src="/images/ICON/streamer.png" alt="Card image">
              </button>
            </div>
          </form>
          <form method="post" action="/imgupdate/surgeon2.png" style="display : inline">
            <div class="card">
              <button type="submit" class="btn btn-default">
                <img class="card-img-top" src="/images/ICON/surgeon2.png" alt="Card image">
              </button>
            </div>
          </form>
        </div>
        <hr>
        <div class="card-columns">
          <form method="post" action="/imgupdate/pepethefrog.png" style="display : inline">
            <div class="card">
              <button type="submit" class="btn btn-default">
                <img class="card-img-top" src="/images/ICON/pepethefrog.png" alt="Card image">
              </button>
            </div>
          </form>
          <form method="post" action="/imgupdate/catsalad.png" style="display : inline">
            <div class="card">
              <button type="submit" class="btn btn-default">
                <img class="card-img-top" src="/images/ICON/catsalad.png" alt="Card image">
              </button>
            </div>
          </form>
          <form method="post" action="/imgupdate/girlteeth.png" style="display : inline">
            <div class="card">
              <button type="submit" class="btn btn-default">
                <img class="card-img-top" src="/images/ICON/girlteeth.png" alt="Card image">
              </button>
            </div>
          </form>
          <form method="post" action="/imgupdate/winnie.png" style="display : inline">
            <div class="card">
              <button type="submit" class="btn btn-default">
                <img class="card-img-top" src="/images/ICON/winnie.png" alt="Card image">
              </button>
            </div>
          </form>
          <form method="post" action="/imgupdate/pikachu.png" style="display : inline">
            <div class="card">
              <button type="submit" class="btn btn-default">
                <img class="card-img-top" src="/images/ICON/pikachu.png" alt="Card image">
              </button>
            </div>
          </form>
          <form method="post" action="/imgupdate/bean.png" style="display : inline">
            <div class="card">
              <button type="submit" class="btn btn-default">
                <img class="card-img-top" src="/images/ICON/bean.png" alt="Card image">
              </button>
            </div>
          </form>
          <form method="post" action="/imgupdate/dog.png" style="display : inline">
            <div class="card">
              <button type="submit" class="btn btn-default">
                <img class="card-img-top" src="/images/ICON/dog.png" alt="Card image">
              </button>
            </div>
          </form>
          <form method="post" action="/imgupdate/fisheatcat.png" style="display : inline">
            <div class="card">
              <button type="submit" class="btn btn-default">
                <img class="card-img-top" src="/images/ICON/fisheatcat.png" alt="Card image">
              </button>
            </div>
          </form>
          <form method="post" action="/imgupdate/daenerys.png" style="display : inline">
            <div class="card">
              <button type="submit" class="btn btn-default">
                <img class="card-img-top" src="/images/ICON/daenerys.png" alt="Card image">
              </button>
            </div>
          </form>
        </div>
        <hr>
        <div class="card-columns">
          <form method="post" action="/imgupdate/chewy.png" style="display : inline">
            <div class="card">
              <button type="submit" class="btn btn-default">
                <img class="card-img-top" src="/images/ICON/chewy.png" alt="Card image">
              </button>
            </div>
          </form>
          <form method="post" action="/imgupdate/soldier.png" style="display : inline">
            <div class="card">
              <button type="submit" class="btn btn-default">
                <img class="card-img-top" src="/images/ICON/soldier.png" alt="Card image">
              </button>
            </div>
          </form>
          <form method="post" action="/imgupdate/darth.png" style="display : inline">
            <div class="card">
              <button type="submit" class="btn btn-default">
                <img class="card-img-top" src="/images/ICON/darth.png" alt="Card image">
              </button>
            </div>
          </form>
          <form method="post" action="/imgupdate/luke.png" style="display : inline">
            <div class="card">
              <button type="submit" class="btn btn-default">
                <img class="card-img-top" src="/images/ICON/luke.png" alt="Card image">
              </button>
            </div>
          </form>
          <form method="post" action="/imgupdate/vador.png" style="display : inline">
            <div class="card">
              <button type="submit" class="btn btn-default">
                <img class="card-img-top" src="/images/ICON/vador.png" alt="Card image">
              </button>
            </div>
          </form>
          <form method="post" action="/imgupdate/r2d2.png" style="display : inline">
            <div class="card">
              <button type="submit" class="btn btn-default">
                <img class="card-img-top" src="/images/ICON/r2d2.png" alt="Card image">
              </button>
            </div>
          </form>
          <form method="post" action="/imgupdate/boba.png" style="display : inline">
            <div class="card">
              <button type="submit" class="btn btn-default">
                <img class="card-img-top" src="/images/ICON/boba.png" alt="Card image">
              </button>
            </div>
          </form>
          <form method="post" action="/imgupdate/robot.png" style="display : inline">
            <div class="card">
              <button type="submit" class="btn btn-default">
                <img class="card-img-top" src="/images/ICON/robot.png" alt="Card image">
              </button>
            </div>
          </form>
          <form method="post" action="/imgupdate/leia.png" style="display : inline">
            <div class="card">
              <button type="submit" class="btn btn-default">
                <img class="card-img-top" src="/images/ICON/leia.png" alt="Card image">
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>